#app-footer {
  background-color: rgb(58, 176, 158);
  color: white;

  display: flex;
  justify-content: center;   
  align-items: center;
  text-align: center;
  font-family: 'Segoe UI', sans-serif;
}

.footer-left {
  display: flex;
  align-items: center;
  gap: 10px;
}

#copyright {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: white;
  padding: 5px;
}
