#outer-container{
    display:flex;
    width: 90%;
    height:97%;
    gap : 20px;
    padding :20 px;
    box-sizing: border-box;
}

#left-container{
    flex : 0 0 70%;
    background-color:  #f9f9f9;
    padding :20px;
        margin:20px  0px  20px 20px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    max-height:75vh;
    overflow-y: auto;

}

/* Right: Form */
#right-container{
    flex:0 0 30%;
        max-height:72vh;
        margin-top: 20px;
    background-color:#ffffff ;
    padding :20px;
    border-left:2px solid #ddd;
    border-radius: 20px;
    box-shadow : 0 0 8px rgba(0, 0, 0, 0.1);


}

table{
    width:100%;
    border-collapse:collapse;
    font-size:16px;
}

table th,table td {
    padding :12px 8px;
    text-align:left;
    border-bottom: 1px solid #ccc;
}

th {
    background-color: #3ab09e;
    color: white;
}
#pro button{
    margin-right: 8px;
    padding:6px 12px;
    background-color: #3ab09e;
    color : white;
    border:none;
    border-radius: 5px;
    cursor:pointer;

}

#pro button:hover{
    background-color: #339b8c;
}

#but{
    display:flex;
    gap:10px;
    align-items: center;
    margin-top: 10px;
}

form label{
    display:block;
    margin-top:10px;
    margin-right:15 px;
    font-weight: 500;
}

form input{
    width:100%;
    padding :8px;
    margin-top: 5px;
   
    margin-bottom: 10px;
    border-radius: 5px;
    border:1px solid #ccc;
}

form button{
 padding: 10px 20px;
  background-color: #3ab09e;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}

form button:hover {
  background-color: #339b8c;
}
h3{
    text-align :center;
    padding-bottom: 5px;
    font-size:larger;
}

table th {
    text-align: center;
}

table td{
    text-align: center;
}