<div class="main-layout">
  <div class="spacer-3"></div>

  <div class="section-25">
    <h2>To Do</h2>
    <div
      cdkDropList
      [cdkDropListData]="incompletedTasks"
      [cdkDropListConnectedTo]="['doneList']"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      id="todoList"
    >
      <div class="example-box" *ngFor="let task of incompletedTasks" cdkDrag>
        <span> {{ task.title }}</span>

        <button (click)="onTaskcli(task.taskId)" class="icon-btn">▶️</button>
      </div>
    </div>
  </div>

  <div class="spacer-3"></div>

  <div class="section-25">
    <h2>Done</h2>
    <div
      cdkDropList
      [cdkDropListData]="completedTasks"
      [cdkDropListConnectedTo]="['todoList']"
      class="example-list"
      (cdkDropListDropped)="drop($event)"
      id="doneList"
    >
      <div class="example-box" *ngFor="let task of completedTasks" cdkDrag>
        <span> {{ task.title }} </span>
        <button (click)="onTaskcli(task.taskId)" class="icon-btn">▶️</button>
      </div>
    </div>
  </div>

  <div class="spacer-6"></div>

  <div class="section-40">
    <app-task-details
      class="detail-card"
      [currentTask]="currentTask"
      (projectClicked)="projectDetailShow()"
      (employeeClicked)="employeeDetailShow()"
      *ngIf="taskDetails"
    ></app-task-details>

    <app-project-details
      class="detail-card"
      [currentProject]="currentProject"
      *ngIf="projectDetails"
    ></app-project-details>

    <app-employee-details
      class="detail-card"
      [currentEmployee]="currentEmployee"
      *ngIf="employeeDetails"
    ></app-employee-details>
  </div>
</div>
